.card-deck, footer, #define-card, .jumbotron{
    max-width: 900px;
}

.jumbotron {
    max-height: 100px;
    text-align: right;
}

body {
    background-image: url(../img/abstract-258339_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}