.card-deck, footer, #define-card, .jumbotron{
    max-width: 900px;
}

.jumbotron {
    max-height: 150px;
}

body {
    background-image: url(../img/abstract-258339_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

select {
    max-width: 700px;
    border-color: rgba(0, 0, 0, .2);
}

select:hover {
    background-color: rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, 0.5);
}